.add_comment_article_btn {
    float: right;
    display: block;
    width: 130px;
    height: 17px;
    background-color: rgba(22, 122, 141, 0.58);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.add_comment_article_btn:focus{
    outline: none;
}