@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

.articles {
    margin: 20px;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color: #444444;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #3d3d3d;
}

li {
    list-style-type: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: justify;
}

.date {
    font-size: 15px;
    color: #474747;
    text-align: right;
}

.author {
    font-size: 15px;
    color: #7b7b7b;
    text-align: left;
}

.articleImg{
    max-width: 500px;
    display: block;
}

.articleContent{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    justify-content: center;
    display: block;
    float: left;
}

.articleMain {

}