@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

.categoryTitle {
    text-align: center;
}

.articles {
    padding-top: 60px;
    min-width: 1000px;
}