.articles {
    padding-top: 60px;
    margin-bottom: 70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
    color: darkcyan;
    letter-spacing: 1px;
}