h2.favorite {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3.favorite {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
    color: darkcyan;
    letter-spacing: 1px;
}