@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    color: #444444;
}

.articleTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #3d3d3d;
    margin: 12px 0;
}


.article {
    text-align: center;
    display: block;
    clear: both;
    margin-bottom: 35px;
}

.articleDate {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #474747;
    display: block;
    text-align: right;
}

.articleAuthor {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #7b7b7b;
    display: block;
    text-align: right;
}

.articleBottom {
    margin: auto;
    width: 60%;
}

img.articleImage {
    max-width: 220px;
}

.img {
    display: block;
    float: left;
    margin-right: 20px;

}

.articleText {
    width: 600px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    float: left;
    display: block;
    text-align: justify;
    padding: 0 0 0 10px;
    border-left: coral solid 3px;
}

.articleMain {
    margin: 0 20%;
    display: block;
    height: 160px;
    align-content: center;
}