@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

.add_comment_modal {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
}

.add_comment_modal_content {
    max-width: 600px;
    max-height: 300px;
    margin: 10vh auto;
    background: white;
    padding: 30px;
    border-radius: 5px;
}

.comment_text_input{
    width: 100%;
    min-height: 150px;
    max-height: 200px;
    background-color: #f2f8f8;
    border: none;

}

.comment_text_input:focus{
    outline: none;
}

.send_comment{
    position: relative;
    width: 110px;
    height: 25px;
    background-color: rgba(38, 93, 186, 0.87);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    border: none;
    cursor: pointer;
}

.send_comment:focus{
    outline: none;
}

.close_add_comments {
    width: 110px;
    height: 25px;
    background-color: coral;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    border: none;
    cursor: pointer;
    float: right;
}

.close_add_comments:active{
    outline: none;
}

.close_add{

}
