@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

.add_comment_modal {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
}

.add_comment_modal_content {
    max-width: 800px;
    height: 400px;
    margin: 10vh auto;
    background: white;
    padding: 30px;
    border-radius: 5px;
}

.close_add_comments {
    width: 110px;
    height: 20px;
    background-color: coral;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.close_add_comments:active{
    outline: none;
}
