.readArticle {
    width: 120px;
    height: 17px;
    background-color: rgba(49, 50, 50, 0.83);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.readArticle:focus {
    outline: none;
}