.likeArticle {
    float: right;
    width: 130px;
    background-color: #1a66d4;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.likeArticle:focus {
    outline: none;
}

.likedArticle {
    float: right;
    width: 130px;
    background-color: #1ab377;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.likedArticle:focus {
    outline: none;
}