.likeArticle {
    float: right;
    width: 130px;
    height: 17px;
    background-color: rgba(24, 91, 161, 0.76);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.likeArticle:focus {
    outline: none;
}

.likedArticle {
    float: right;
    width: 130px;
    height: 17px;
    background-color: rgba(26, 179, 119, 0.84);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.likedArticle:focus {
    outline: none;
}